{% extends 'base1.html' %}
{% load static %}
{% block content %}
<div class="limiter">
        <div class="container-login100 page-background">
            <div class="wrap-login100">
                <form action="{% url 'hacker' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <span class="login100-form-logo">
                        <img alt="" src="{% static 'img/logo-2.png' %}">
                    </span>
                    <span class="login100-form-title p-b-34 p-t-27">
                        Generate Exarm Card QRCode.
                    </span>
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        {{ hacker_form.student_full_name }}
                        <i class="material-icons focus-input100 text-warning"></i>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        {{ hacker_form.adm_number }}
                        <i class="material-icons focus-input100 text-warning"></i>
                    </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        {{ hacker_form.exam_card_number }}
                        <i class="material-icons focus-input100 text-warning"></i>
                    </div>
                    <div class="container-login100-form-btn">
                        <button type="submit" class="login100-form-btn">
                            Generate
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <!-- end page container -->
        {% endblock %}